$RedDark: #fc3549; // Dark Red Color //
$RedLight: #ffebed;
$RedDarkShadow: rgba(252, 53, 73, 0.15);
$PurpleDark: #7735fc;
$PurpleLight: #e6daff;
$GrayLight: #f3f3f3; // Light Gray Color //
$GrayDark: #888888; // Dark Gray Color //
$SkyblueDark: #22a3ab; // Dark Skyblue Color //
$SkyblueLight: #dcfdff;
$SkyBlueShadow: rgba(34, 163, 171, 0.22);
$PinkDark: #ed00d4; // Dark Pink Color //
$PinkLight: #ffd5f4;
$PinkBgShadow: rgba(237, 0, 212, 0.22);
$YellowDark: #c3c455;
$YellowLight: #feffae;
$YellowBgShadow: rgba(195, 196, 85, 0.22);
$HeadingColor: #202020;
$ParagraphColor: #545454;
$OffWhiteBackground: #FAFBFD;
$FontHeading: 'Playfair Display',
serif;
$FontParagraph: 'Raleway',
sans-serif;